{% extends "base.html" %}

{% block content %}


<div class="container">

  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">Warehouse items list</li>

  </ol>

  {% if request.user.is_staff %}
  <div class="p-3 text-right">
    <a href="{% url 'warehouse-items-create' %}" class="btn btn-primary">ADD NEW ITEMS</a>  
  </div>
  {% endif %}

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Pic</th>
        <th>Name & Category</th>
        <th>Quantity</th>
        <th>Daily Rent Cost</th>
      </tr>
    </thead>
    <tbody>

      {% for item in items %}

      <tr>
        <td>  
          <img src="{{ item.image.url }}" class="article-img" alt="Item image">
        <td>
          <a href="{% url 'warehouse-items-detail' item.pk %}">{{ item.name }}</a>
          <small class="text-muted d-block">{{ item.category }}</small>
        </td>
        <td class="align-middle">{{ item.quantity }}</td>
        <td class="align-middle">{{ item.dailyRentCost }}</td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
</div>


{% endblock content %}